.header {
    background-color: white;
    padding: 30px;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
}

.main {
    padding: 30px;
}

.footer {
    background-color: white;
    padding: 30px;
    text-align: left;
    font-size: 18px;
}